node_modules
.DS_Store
dist
dist-ssr
*.local
.history

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

/.idea/
.idea/
.idea
.vscode
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.zip

# Dependency directories (remove the comment below to include it)
# vendor/
*.log
*/logs/*
*.log*

.DS_Store
stats.html
